
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (@ViewBag.Error != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Error
    </div>
}
<h2>Bienvenido al menu de administración</h2>
<p>Desde aqui podra administrar y editar:</p>
<ul>
    <li>Usuarios</li>
    <li>Proyectos</li>
    <li>La pantalla principal</li>
    <li>Y algo mas!</li>
</ul>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

