
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Bienvenido al menu de administracion</h2>
<p>Desde aqui podra administrar y editar:</p>
<ul>
    <li>Usuarios</li>
    <li>Proyectos</li>
    <li>La pantalla principal</li>
    <li>Y algo mas!</li>
</ul>

