@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amulen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    <h2>Recuperacion de contraseña</h2>

                    <p>Por favor ingrese el mail de su cuenta, un mail sera enviado con instrucciones para recuperar su cuenta</p>

                    @using (Html.BeginForm("ForgotPassword", "User"))
                    {
                        <div class="form-horizontal">
                            <hr />
                            @if (@ViewBag.Message != null)
                            {
                                <div class="alert alert-dark" role="alert">
                                    @ViewBag.Message
                                </div>
                            }

                            <div class="form-group">
                                <label class="control-label col-md">Ingrese mail: </label>
                                <input type="text" id="providedEmail" name="providedEmail" />
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Enviar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="login100-more" style="background-image: url('/Content/Template/images/Amulen2.jpg')">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/Template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/js/main_login.js"></script>

