@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fundraiser &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/Content/Template/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Template/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Template/fonts/flaticon-1/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/Template/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/Template/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top py-3 ">
            <div class="container-fluid">
                <!-- LOGO / HOME -->
                <a class="navbar-brand" href="#"><img width="50" src="~/Content/Template/images/AmulenLogo3.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- NAVBAR ITEMS -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="Index">Página principal |<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#mision">Misión<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#objetivos">Objetivos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#Origen">Origen</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#Equipo">Equipo de trabajo</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#Reconocimiento">Reconocimientos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    @*HEADER IMAGE*@
    <div class="owl-carousel-wrapper">

        <div class="ftco-cover-1 overlay" style="background-image: url('/Content/Template/images/mision_10.jpg');">

        </div>

    </div>


    @*MISION*@
    <div class="site-section" id="mision" style="margin-bottom:-150px">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 class="text-cursive">Nuestra misión</h1>
                    <h3 class="text-cursive">Favorecer procesos de inclusión social y laboral para jóvenes y adultos con capacidades diferentes, en el marco del Taller Productivo Amulén.</h3>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom:70px">
        <div class="container" style="margin-bottom: 60px">
            <div class="row">
                <div class="col-md-5 ml-auto" style="margin-top:160px">
                    <h3 class="text-cursive mb-4">
                        Te invitamos a ver un programa de Juntos Para Sumar dedicado a Amulén.
                    </h3>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6J-iIRBN3Io" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-FyeGVuUc1o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-5 ml-auto" style="margin-top:160px">
                    <h3 class="text-cursive mb-4">
                        ¡Y un programa de Desde la Vida!
                    </h3>

                </div>
            </div>
        </div>
    </div>


    @*NUESTRO EQUIPO*@
    <div class="site-section" id="Equipo" style="margin-top:-50px">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="text-cursive">Nuestro Equipo</h2>
                </div>
            </div>
            <div class="row align-items-stretch">

                <div class="col-lg-6 col-md-8 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Coordinadora</h2>
                            <p>María Rosa Teti</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Gestión Búsqueda de Fondos y <br /> Elaboración de Proyectos</h2>
                            <p> Cintia Bossini</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="text-cursive">Comisión Directiva</h2>
                </div>
            </div>
            <div class="row align-items-stretch">

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Presidente</h2>
                            <p>María Rosa Teti</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Tesorera</h2>
                            <p> Gabriela Kulalis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Secretaria</h2>
                            <p> Julia Komerosky</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Vocales</h2>
                            <p>Laura Espinós</p>
                            <p>Cintia Bossini</p>
                            <p>Zoila Loncopán</p>
                            <p>Juan Fuentes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 bg-white text-center">
                        @*<a href="#" class="d-inline-block">
                                <img src="" alt="Image"
                                     class="img-fluid">
                            </a>*@
                        <div class="post-entry-1-contents">
                            <h2>Revisor de cuentas</h2>
                            <p>Leonardo Bossini</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*OBJETIVOS*@
    <div class="site-section" id="objetivos" style="margin-top:-200px">
        <div class="container">

            <div class="row mb-5 align-items-st">
                <div class="col-md-4">
                    <div class="heading-20219">
                        <h2 class="title text-cursive">Nuestros Objetivos</h2>
                        <img src="~/Content/Template/images/objetivos_01.jpg" alt="" />
                    </div>
                </div>
                <div class="col-md-8" style="padding-left: 40px;margin-top: 50px;">
                    <p>
                        Contener social y laboralmente a jóvenes y adultos con capacidades diferentes.Colaborar con los procesos de inclusión
                        genuina y sostenida de las personas con capacidades diferentes (especialmente aquellos con mayor riesgo social)
                        para que desarrollen habilidades sociales, para el trabajo, para la comunicación en una autonomía personal creciente.
                        Dar dignificación con el trabajo desarrollando distintos proyectos.
                    </p>
                    <h3 class="text-cursive mb-4">
                        Te invitamos a ver un programa de Juntos Para Sumar dedicado a Amulén.
                    </h3>
                </div>
            </div>
        </div>
    </div>

    @*NUESTRO ORIGEN*@
<div class="site-section" id="Origen" style="margin-top:-200px">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1 class="text-cursive">Nuestro Origen</h1>
            </div>
        </div>
    </div>

    <div style="margin-bottom:70px" id="Origen">
        <div class="container" style="margin-bottom: 60px">
            <div class="row">
                <div class="col-md-5 ml-auto" style="margin-top:10px">
                    <p class="text-cursive mb-4">
                        El Taller Productivo Amulén fue surgiendo paulatinamente, la primera experiencia se dio en el marco de la Escuela Especial N° 9 de Junín de los Andes, como una instancia pedagógica. Esto permitió participar de diferentes concursos con premios importantes que facilitaron la adquisición de equipamiento que hoy es parte de las herramientas para la elaboración de los ecoleños.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/Template/images/origen_1.jpg" alt="Alternate Text" />
                </div>
            </div>
            <p style="margin-top:20px" class="text-cursive mb-4">
                En el año 2008 la Municipalidad de la localidad neuquina donó el lugar donde hoy funciona el taller. Actualmente se encuentra en trámite la escritura de la tierra a nombre del Taller Productivo Amulén, Asociación Civil.

                AMULÉN significa "caminando junto a otros" en lengua Mapuche, y es el nombre que se otorga al espacio de encuentro diario. Fue elegido entre jóvenes que participaban del taller, sus padres, madres y los coordinadores de las actividades.

                Se enfocó la búsqueda en la riqueza del mundo expresivo Mapuche, con la intención de encontrar un concepto que fuese integrador, que diera vida al vínculo entre las personas. La preocupación era poder resignificar la tarea cotidiana de visibilización de la problemática de las personas con capacidades diferentes.

            </p>
        </div>
    </div>

    @*ECOLEÑOS*@
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1 class="text-cursive">Ecoleños</h1>
            </div>
            <p>Los ecoleños tuvieron su origen en 1999 como Proyecto Pedagógico y de Investigación en la Escuela Especial N°9 "Ruca Antú" de Junín de los Andes, provincia de Neuquén. Son diversas las dificultades sobrellevadas por los alumdos de la escuela y aún por los egresados: al no haber otros establecimientos educativos o laborales donde insertarse, se fue generalizando en el grupo, el interés por continuar con el proyecto. Esto dio un impulso de gran importancia a los ecoleños, contemplando la inclusión de estos jóvenes de capacidades especiales en una ocupación digna.</p>
        </div>
    </div>

    <div style="margin-bottom:70px" id="Origen">
        <div class="container" style="margin-bottom: 60px">
            <div class="row" style="justify-content:center">
                <div class="col-md-5">
                    <img src="~/Content/Template/images/origen_2.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-5 " style="margin-top:10px; margin-left:-50px">
                    <p class="text-cursive mb-4">
                        Llamamos ecoleño a la leña ecológica realizada con residuos de origen vegetal (papel, aserrín, viruta, cáscara de papas y hojas secas). Es ideal para salamandras, cocinas y termotanques a leña, hogares y también como accesorio para realizar asados. No se necesita contar con un combustible adicional para encender los ecoleños. Son livianos para transportar y con un rendimiento calórico similar a la leña de quebracho. Al no contar con agregados químicos, su utilización es amigable con el medio ambiente.
                    </p>
                </div>

            </div>
            <div class="row" style="justify-content:center">

                <div class="col-md-5 " style="margin-top:10px; margin-left:-50px">
                    <p class="text-cursive mb-4">
                        Una de las tareas más significativas fue encontrar el aglutinante que uniera y compactara todos los compuestos. Éste tendría que ser económico, fácil de conseguir y ecológico. A fines del año 2000 implementamos, con buenos resultados, la cáscara de papas. En un principio se utilizó una prensa de madera, luego la escuela técnica de Junín de los Andes, EPET N°4, construyó un prensa más fuerte y robusta que facilitó la tarea. En 2003, a través de la Dirección Provincial de Energía Alternativa, del EPEN y de la Facultad de Ingeniería de la Universidad del Comahue, se analizaron muestras de ecoleños. Con la prueba y experimentación de los materiales se indicó un poder calórico aproximado de 4180 cal/g, cercano al del quebracho colorado (4500 cal/g).
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Template/images/origen_3.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div style="margin-top:20px; margin-bottom:70px">
                <p class="text-cursive mb-4">
                    Actualmente los ecoleños se realizan en el Taller Amulén, en un espacio cedido por el municipio en la afueras de la ciudad. El edificio es hoy un lugar cálido, recibiendo continuamente reparaciones y mejoras: baño, invernadero, zona de acceso... Muchas de estas tareas las realizan los mismos jóvenes participantes del proyecto, y gran parte de los fondos se obtuvieron gracias a los numerosos reconocimientos recibidos por el emprendimiento.
                </p>
            </div>
            <div class="row" style="justify-content:center">
                <div class="col-md-4">
                    <img src="~/Content/Template/images/origen_4.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-6 " style="margin-top:10px; margin-top:-10px">
                    <p class="text-cursive mb-4">
                        Nuestros desafíos son, por un lado, aumentar la producción para poder abastecer con ecoleños a los pobladores y familias de escasos recursos, dando respuesta a las necesidades energéticas con un combustible de bajo costo. De la mano, se busca difundir en la comunidad en general el valor del reciclado y el aprovechamiento maximizado de los recursos, incluídos los residuos del hogar. Así, será primordial la difusión de estos saberes en las escuelas primarias y medias. También esperamos mejorar las condiciones de seguridad para los jóvenes y adultos que se encargan de la fabricación de los ecoleños.
                    </p>
                </div>

            </div>
            <div class="row" style="justify-content:center">

                <div class="col-md-6 " style="margin-top:10px; margin-top:60px">
                    <p class="text-cursive mb-4">
                        La intención no es generar ganancias en el sentido empresarial, sino avanzar en una actividad sustentable implementando soluciones para problemáticas no siempre atendidas en nuestra sociedad: fundamentalmente dar un trabajo u ocupación digna para los jóvenes con discapacidad que no pueden insertarse en condiciones normales al mercado de trabajo.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Template/images/origen_5.jpg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>

    @*RECONOCIMIENTOS*@
    
    <div class="container site-section" id="Reconocimiento">
        
            <div class=" mb-5">
                <h1 class="text-cursive">Reconocimientos</h1>
            </div>
            <ul>
                <li>
                    <h3>2006</h3>
                    <p>&nbsp;-Declarado de Interés Municipal al Taller Productivo Amulén y al Proyecto Ecoleños</p>
                </li>
                <li>
                    <h3>2002</h3>
                    <p>&nbsp;-"Premio a la Imaginación Ecológica Realizada", Fundación Ecológica y Desarrollo de Zaragoza (España)</p>
                    <p>&nbsp;-Declarado de Interés Provincial</p>
                    <p>&nbsp;-Premio Ashoka, "II Concurso Nacional de Ideas Innovadoras Para la Movilización de Recursos"</p>
                </li>
                <li>
                    <h3>2001</h3>
                    <p>&nbsp;-3er Premio Presidencial "Escuelas Solidarias", organizado por el Programa Nacional Escuela y Comunidad Ministerio de Educación.</p>
                </li>
                <li>
                    <h3>2000</h3>
                    <p>&nbsp;-1er Puntaje del nivel D, "XXII Feria Provincial de Ciencia y Tecnología".</p>
                </li>
                <li>
                    <h3>1999</h3>
                    <p>&nbsp;-1er Premio Provincial y Nacional, concurso "Así trabajamos en la Escuela".</p>
                </li>
            </ul>
    </div>

</div>



    @*FOOTER*@
    <footer class="site-footer bg-white">
        <div class="container">
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    </div>


</body>

</html>

<script src="~/Content/Template/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/Template/js/popper.min.js"></script>
<script src="~/Content/Template/js/bootstrap.min.js"></script>
<script src="~/Content/Template/js/owl.carousel.min.js"></script>
<script src="~/Content/Template/js/jquery.sticky.js"></script>
<script src="~/Content/Template/js/jquery.waypoints.min.js"></script>
<script src="~/Content/Template/js/jquery.animateNumber.min.js"></script>
<script src="~/Content/Template/js/jquery.fancybox.min.js"></script>
<script src="~/Content/Template/js/jquery.easing.1.3.js"></script>
<script src="~/Content/Template/js/aos.js"></script>
<script src="~/Content/Template/js/main.js"></script>
