@model ABM.ViewModels.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Amulen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Template/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Template/fonts/flaticon-1/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/Template/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/Template/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <!-- NAVBAR -->
    <div class="site-wrap" id="home-section">

        <div class="bg-primary site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top py-3 ">
                <div class="container-fluid">
                    <!-- LOGO / HOME -->
                    <a class="navbar-brand" href="#"><img width="50" src="~/Content/Template/images/AmulenLogo3.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- NAVBAR ITEMS -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active dropdown">
                                <a class="dropdown-toggle text-black nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Qué hacemos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#enmarcha">En marcha</a>
                                    <a class="dropdown-item" href="#actividades">Actividades culturales y recreativas</a>
                                    <a class="dropdown-item" href="#premiaciones">Proyectos ganados</a>
                                    <a class="dropdown-item" href="#transporte">Transporte institucional propio</a>

                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link " href="#proyectos">Proyectos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link " href="#trabajoenred">Trabajo en red</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link " href="#contacto">Cómo llegar</a>
                            </li>
                        </ul>
                        <!-- LOGIN -->
                        <form class="form-inline my-2 my-lg-0 text-black">
                            <!-- NO USER SESSION -->
                            @if (Session["User"] == null)
                            {
                                <a href="../User/Login" class="btn btn-danger btn-sm my-2 my-sm-0 btn-space text-black">Ingresar</a>
                            }
                            <!-- ADMIN SESSION -->
                            @if (Session["isAdmin"] != null && Session["User"] != null)
                            {
                                <a href="../User/Admin" class="btn btn-danger btn-sm my-2 my-sm-0 btn-space text-black">Administrar</a>
                            }
                            <!-- USER SESSION -->
                            @if (Session["User"] != null)
                            {
                                <a href="../User/LogOff" class="btn btn-danger btn-sm my-2 my-sm-0 btn-space text-black">Cerrar sesión</a>
                            }
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <!-- SLIDER IMAGES, WELCOME TEXT AND "CONTRIBUIR" BUTTON -->
        <div class="owl-carousel-wrapper">
            <div class="box-92819">
                <a class="center"><img width="300" src="~/Content/Template/images/AmulenLogo5.png" /></a>
                <br /><p><a href="#donar" class="btn btn-primary center">Contribuir</a></p>
            </div>
            <div class="owl-carousel owl-1 ">
                @for (int i = 0; i < Model.SliderImages.Count(); i++)
                {
                    <div class="ftco-cover-1 overlay" style="background-image: url('../Home/RetrieveImage/@Model.SliderImages.ElementAt(i).Id');"></div>
                }
            </div>
        </div>

        <!-- OVERLAY IMAGES AMULEN ACTIVITIES -->
        <div class="container">
            <div class="center">
                &nbsp;
                <p class="center text-cursive h1 text-center">@Model.WelcomeText</p>
                &nbsp;
                <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

                    <a class="feature-29192 overlay-success" style="background-image: url('/Content/Template/images/Amulen6.jpg');">
                        <div class="text">
                            <h3 class="text-cursive text-white texto-sombra h1">Talleres</h3>
                        </div>
                    </a>

                    <a class="feature-29192 overlay-warning" style="background-image: url('/Content/Template/images/Amulen5.jpg');">
                        <div class="text">
                            <h3 class="text-cursive text-white texto-sombra h1">Ecoarte</h3>
                        </div>
                    </a>

                    <div class="feature-29192 overlay-danger" style="background-image: url('/Content/Template/images/Amulen7.jpg');">
                        <div class="text">
                            <h3 class="text-cursive text-white texto-sombra h1">Junin Recicla</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AMULEN QUEST -->
        <div class="site-section">
            <div class="container-fluid">
                <div class="col-12 text-center">
                    &nbsp;
                    <h2 class="title text-cursive text-pr">Nuestra misión</h2>
                    <p>Favorecer procesos de inclusión social y laboral para jóvenes y adultos con discapacidades.</p>
                </div>
            </div>
        </div>

        <!-- LIST OF PROJECTS -->
        <div id="proyectos" class="bg-image overlay site-section" style="background-image: url('/Content/Template/images/Amulen7.jpg');">
            <div class="container">
                <div class="heading-20219">
                    <h2 class="title text-white mb-4 text-cursive">Por qué elegirnos</h2>
                    <p class="text-white">
                        El trabajo es un rasgo que define la existencia humana. Es el medio de sustento
                        y de satisfacción de las necesidades básicas. Pero es también una actividad por la que los
                        individuos afirman su identidad, para sí mismos/as y para aquellos/as que los rodean.<br />Es
                        crucial para la elección individual, el bienestar de las familias y la estabilidad de las
                        sociedades.
                    </p>
                    <hr />
                    &nbsp;
                </div>
                <div class="row text-white">
                    @foreach (var item in Model.Projects)
                    {
                        <div class="col-sm-3">
                            <h3 class="text-white">@Html.DisplayFor(modelItem => item.proyectName)</h3>
                        </div>
                        <div class="col-sm-9">
                            <p>@Html.DisplayFor(modelItem => item.proyectDetail)</p>
                            <hr />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- SENTENCE -->
    <div class="site-section">
        <div class="container">
            <div class="heading-20219 mb-5">
                <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
                    <h2 class="title text-cursive text-center">
                        Creemos posible convocar a la sociedad en su conjunto para
                        sostener y construir espacios como el del taller productivo AMULEN, lugar de encuentro diario y
                        significativo por ser lugar de trabajo, de derecho y de dignidad.
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTRIBUTION -->
    <div class="site-section bg-image overlay-primary" style="background-image: url('/Content/Template/images/Amulen2.jpg');" id="donar">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-md-6">
                    <img src="~/Content/Template/images/Amulen2.jpg" alt="Image" class="img-fluid shadow img-thumbnail">
                </div>
                <div class="col-md-6">
                    <div class="bg-white h-100 p-4 shadow">
                        <h3 class="mb-4 text-cursive">Contribuí con Amulen!</h3>
                        <p>
                            Las donaciones que recibe Amulen nos permiten sumar y/o mantener recursos, tanto materiales como humanos,
                            a las causas por las cuales trabajamos día a día.
                        </p>
                        <p>Si deseas realizar un aporte económico, te dejamos aquí debajo un enlace para donar:</p>
                        <input type="submit" value="Donar" class="btn btn-primary">
                        <br></br>
                        <p>Si deseas aportar tu ayuda con acciones, contactanos en redes sociales con los siguientes enlaces:</p>
                        <a href="https://www.facebook.com/amulen.tallerproductivo">
                            <img src="~/Content/Template/images/Facebook-Logo.png"
                                 width="100">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NEWSLETTER -->
    <div class="site-section">
        <div class="container">
            <div class="mb-5">
                <h2 class="footer-heading mb-4">Suscríbete a nuestras noticias</h2>
                <form action="#" method="post" class="footer-suscribe-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent"
                               placeholder="Ingrese su correo electrónico" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Suscribir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ABOUT US -->
    <div class="site-section" id="enmarcha">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1 class="text-black mb-3 center text-cursive text-center">Qué hacemos</h1>
                    <h2 class="text-center">En marcha</h2>
                </div>
                <div class="col-4"></div>
            </div>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <h3>Proyecto Inclubolsas</h3>
                    <p>Mediante un subsidio otorgado por el COPADE de la Provincia de Neuquén compramos máquinas para hacer las bolsas de residuos de diferentes medidas. Estamos como proveedores del Municipio y venta en general a particulares y a comercios chicos y corralones de la ciudad.</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0cQ4hclVJnE" allowfullscreen></iframe>
                    </div>
                    &nbsp;
                    <h3>Ecoarte</h3>
                    <p>
                        Se realizan collares, aros, y adornos con materiales reciclados y pintura en bolsas de telas, servilletas y manteles que se confeccionan en Amulén por voluntarias. Confeccionamos adornos con papel mache en latas, botellas, etc. y se los guía para mejorar sus habilidades. Confeccionan cestos para los residuos con botellas PET, bandejas con hojas de revistas, etc.
                    </p>
                    <img class="center img-fluid" src="~/Content/Template/images/Amulen5.jpg" />
                    &nbsp;
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b2JWm37sPZ8" allowfullscreen></iframe>
                    </div>
                    &nbsp;
                    <h3>Junín no tira, recicla</h3>
                    <p>
                        Proyecto de concientización a la población sobre el manejo de los residuos domiciliarios, separando y prensando los distintos materiales que los vecinos dejan en los canastos ubicados en distintos puntos de la ciudad. Concurrimos a las escuelas a realizar capacitación o los recibimos en Amulén donde se realiza una visita guiada. Los primeros aportes fueron obtenidos por haber resultado ganador en el 2do. Concurso Provincial de Proyectos Sociales en el año 2012. Luego se recibieron aportes de la Legislatura de Neuquén para comprar una prensa.
                    </p>
                    <p>La separación de material que llega hasta Amulén según su composición (cartón, papel, plásticos, latas, hojalatas, Tetra Pak y vidrio), retirando las etiquetas y las tapas de las botellas, separando papel de color y blanco, cartón, etc. Luego se prensa, realizan los fardos, se pesan y se acopian. Los materiales se venden a centros de acopio en Río Negro.</p>
                    &nbsp;
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3B-H9FMClQ0" allowfullscreen></iframe>
                    </div>
                    &nbsp;
                    <h3>Producción de plantines en invernadero</h3>
                    <p>
                        Por razones climáticas, en esta zona es común tener invernaderos para la producción de plantas. Nosotros realizamos plantines de aromáticas (orégano, albahaca, melisa, salvia, etc), frutales (frutillas, durazno, manzana), hortalizas de hojas (perejil, acelga, lechuga) y algunos florales (conejito, caléndulas, pensamiento, copetes).
                    </p>
                    <p>
                        Dichos plantines los comercializamos en diferentes ferias en las que participamos o la comunidad se acerca hasta Amulén para poder trasplantarlas en su huerta o invernadero propio.
                    </p>
                    <img class="center img-fluid" src="~/Content/Template/images/Invernadero.jpg" />
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>

    <div class="site-section" id="actividades">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    &nbsp;
                    <h2 class="text-center">Actividades actividades culturales y recreativas</h2>
                </div>
                <div class="col-3"></div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h3>Taller de danzas</h3>
                        <p>
                            Dos veces por semana, a través de un convenio con el Centro de Iniciación Artística N°3, viene la profesora Silvia Torres. En dicho espacio realizan expresiones corporales a través de la música. Realizan coreografías cortas y también ejercicios de elongación.
                        </p>
                        <img class="center img-fluid" src="~/Content/Template/images/Amulen6.jpg" />
                        &nbsp;
                        <h3>Salidas de especimiento</h3>
                        <p>
                            Realizamos salidas como por ejemplo a: la Estancia San Huberto a pasar el día, al Restaurant Sigmund a merendar, a vender y promocionar nuestros productos en ferias locales, etc.
                        </p>
                        <img class="center img-fluid" src="~/Content/Template/images/salidas_03.jpg" />
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="premiaciones">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    &nbsp;
                    <h2 class="text-center">Proyectos ganados</h2>
                </div>
                <div class="col-3"></div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h4>2009</h4>
                        <p>
                            Proyecto de reciclado COPADE de la provincia de Neuquén
                        </p>
                        <h4>2012</h4>
                        <p>
                            OPRI Concurso Proyecto Social: Junín no tira, recicla
                        </p>
                        <h4>2014-2015</h4>
                        <p>Proyecto Basura 0, Refugios 10</p>
                        <p>
                            El proyecto consiste en resolver 2 problemáticas actuales: el exceso de nylon y plásticos; y por otro lado la falta de refugios en las paradas del transporte urbano. Dicho proyecto ha resultado ganador en julio del año 2014 en el “4to Concurso Provincial de Proyectos Sociales” organizado por la OPRI en Neuquén.
                        </p>
                        <p>
                            Desde esta necesidad de resolver y de hacerlo para la comunidad y con la comunidad, es que Amulén, con sus integrantes ya capacitados en el tema del reciclado, capacitaron a alumnos, docentes y comunidad en general en la elaboración de ECOLADRILLOS (botellas PET con nylon limpio y seco bien prensado). Se realizó un trabajo en Red con los organismos gubernamentales para la autorización de los refugios en un espacio público; el Colegio de Arquitectos de Junín realizó el diseño con la seguridad correspondiente de los refugios. El CEMOE Ceferino, una escuela con talleres de Formación Profesional junto al grupo Con las Manos en el Barro realizará en breve la construcción.
                        </p>
                        <img class="center img-fluid" src="~/Content/Template/images/lacar.jpg" />
                        &nbsp;
                        <p class="text-center">
                            <a href="http://www.lacardigital.com.ar/content/la-asociaci%C3%B3n-civil-amul%C3%A9n-de-jun%C3%ADn-de-los-andes-recibi%C3%B3-un-premio" class="font-weight-bold center">Ver nota en Lácar Digital sobre premiación del proyecto</a>
                        </p>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="transporte">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    &nbsp;
                    <h2 class="text-center">Transporte institucional propio</h2>
                </div>
                <div class="col-3"></div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h5>Un gran logro!</h5>
                        <p>
                            A través del subsidio por la Ley de Cheques Nº° 25930, la CONADIS nos entregóó dinero para la compra del primer vehículo institucional propio par el traslado de los jóvenes y adultos que concurren a trabajar a Amulén y que poseen movilidad reducida, a lo que se le suma las inclemencias del tiempo y la poca accesibilidad desde lo arquitectónico en las calles y edificaciones de la ciudad. Es sumamente importante que tengan una regularidad en la asistencia, siendo ésta fundamental para incorporar las habilidades necesarias para el trabajo.
                            <img class="center img-fluid" src="~/Content/Template/images/Transporte.jpg" />
                        </p>
                        <p>
                            También nos permitirá programar actividades durante las tardes e inclusive los fines de semana ampliando las posibilidades de recreación. En este sentido sabemos que las personas con discapacidad tienen totalmente anulada su participación en actividades recreativas sobre todo si son de bajos recursos, como la totalidad de las familias pertenecientes al Taller.
                        </p>
                        <p>
                            Este sueño se pudo concretar gracias a otros aportes económicos por parte de la Fundación SUMA, la Ministra de Educación y Justicia de Neuquén Sra Zulma Reina, del Municipio local, de dos empresarios de Junín y de un bono solidario donde la comunidad hizo su aporte.
                        </p>
                    </div>
                    <div class="col-3"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- WORK NETWORK -->
    <div class="site-section" id="trabajoenred">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <h1 class="text-black mb-3 center text-cursive text-center">Trabajo en red</h1>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </div>

    <!-- HOW TO GET -->
    <div class="site-section" id="contacto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <h1 class="text-black mb-3 center text-cursive text-center">Cómo llegar</h1>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>

        <!-- GOOGLE MAPS -->

        <div class="container-fluid">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.216308586211!2d-71.06966568417761!3d-39.93655097942374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96119bdb582529c7%3A0x9c9bbf1ae33ce62d!2sAsociaci%C3%B3n%20Civil%20Taller%20Productivo%20Amul%C3%A9n!5e0!3m2!1ses-419!2sar!4v1602606672404!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="site-footer bg-white">
        <div class="container">
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="pt-5">
                        <p>Cortesía del equipo #SharpGuys de Alkemy, para Amulen <i class="icon-heart text-danger" aria-hidden="true"></i></p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Template/js/popper.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/owl.carousel.min.js"></script>
    <script src="~/Content/Template/js/jquery.sticky.js"></script>
    <script src="~/Content/Template/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Template/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Template/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/Template/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Template/js/aos.js"></script>

    <script src="~/Content/Template/js/main.js"></script>

</body>

</html>

