@model ABM.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div id="SliderImage carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            @foreach (var item in Model.Projects)
            {

                <div class="carousel-item active">
                    <img class="d-block w-100" src="@Model.SliderImages" alt="">
                </div>

            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="WelcomeText">
        <h1>@Html.DisplayFor(model => model.WelcomeText)</h1>

    </div>

    <h2>Listado de projectos</h2>
    <table id="Projects">

        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => project.proyectName)
                </td>
            </tr>
        }

    </table>
    <div style="margin-top: 20px">
        <a class="btn btn-primary btn-lg" href="/User/Login"> Iniciar Sesión </a>
    </div>
</body>
</html>
